/* 
    RESET
*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif; 
    }



/* 
    COLOR PALETTE
*/
    :root {
        
        --white:#FFFFFF ;
        --black: #0A0A0A ;

    }


/* 
    GENERAL
*/


/* 
    MAIN
*/



/* 
    FOOTER
*/



/* 
    DEBUG
*/



/* 
    MEDIA QUERYS
*/

 
/* Tablet */

@media screen and (max-width: 1100px) {
    
}

/* Smartphone */

@media screen and (max-width: 700px) {

}
   
/* Smartphone Small */

@media screen and (max-width: 600px) {

}