/* 
    RESET
*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif; 
    }



/* 
    COLOR PALETTE
*/
    :root {
        
        --white:#FFFFFF;
        --black: #0A0A0A;
        --grey: #6d6d6d;
        --dark_grey: #282828;
        --very_dark_grey: #141922;
        --green_fluo: #adff2f;
    }


/* 
    GENERAL
*/

body {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--grey);
}

a:hover {
    color: var(--white);
}

ul {
    list-style: none;
}

h4 {
    color: var(--white);
    text-transform: uppercase;
    padding-bottom: .3125rem;
}

h6 {
    font-size: 1rem;
    color: var(--white);
}

.container {
    position: relative;
    overflow: hidden;
}

/* 
    MAIN
*/

    /* Sidebar Section Start */

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 9.375rem;
        height: calc(100vh - 4.375rem);
        padding: .9375rem .9375rem 0 .9375rem;
        font-size: .75rem;
        background-color: var(--black);
        color: var(--grey);
    }

    .logo img:first-child {
        padding-bottom: .3125rem;
    }

    .logo img:last-child {
        display: none;
    }

    .sidebar .fas {
        vertical-align: middle;
        width: 1.25rem;
        margin: .3125rem .625rem .3125rem 0;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .sidebar .fas:last-child {
        font-size: 1.875rem;
        margin-right: .9375rem;
    }

    .sidebar .far {
        margin-right: .625rem;
    }

    .playlist div {
        line-height: 1.5625rem;
    }

    .scrollbar_container {
        flex-grow: 1;
        min-height: 4.6875rem;
        overflow-y: auto;
    }

    .scrollbar_container ul li {
        line-height: 1.5625rem;
    }

    .sidebar .profile_container > * {
        display: inline-block;
        margin: .3125rem 0;
    }

    .menu div:first-child a i,
    .menu div:first-child a span {
        color: var(--white);
    }

    .green_border {
        width: 9.375rem;
        margin-left: -.9375rem;
        padding-left: .625rem;
        border-left: .25rem solid var(--green_fluo);
    }

    .profile_container a:first-child {
        margin-right: .3125rem;
    }

    .profile_container img {
        vertical-align: middle;
        height: 1.5625rem;
        border-radius: 50%;
        background-color: var(--grey);
    }

    /* Sidebar Section End */

    .main_page {
        width: calc(100% - 9.375rem);
        height: calc(100vh - 4.375rem);
        position: absolute;
        right: 0;
        top: 0;
        flex-grow: 1;
        overflow-y: scroll;
        background-color: var(--very_dark_grey);
    }

    /* Navbar Section Start  */
 
    .main_page_button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: calc(100vw - 9.375rem);
        height: 4.375rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(8, 11, 18, 0.5);
    }

    .main_page_button > div {
        margin-right: 1.25rem;
        padding: .625rem 1.25rem;
        border: .0625rem solid var(--white);
        border-radius: 1.25rem;
        background-color: rgb(8, 11, 18);
        color: var(--white);
        font-size: .875rem;
        text-transform: uppercase;
    }

    .main_page_button div a {
        color: var(--white);
    }

    .main_page_button >div:hover{
        font-size: 1.125rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
        margin-top: 4.375rem;
        color: var(--grey);
        text-transform: uppercase;
    }

    .navbar a {
        margin: 0 .9375rem;
        font-size: .75rem;
        line-height: 3.125rem;
    }

    /* Navbar Section End */

    /* Album Row Section Start */

    .album_container {
        margin: 0 .9375rem 3.125rem .9375rem;
        padding: 1.875rem 0;
    }

    .album_container > h2,
    .album_container > p {
        margin-bottom: .9375rem;
        margin-left: .3125rem;
    }

    .album_container > h2 {
        color: var(--white);
    }

    .album_container > p {
        color: var(--grey);
    }

    .album_row {
        display: flex;
        text-align: center;
    }


    .album_row .album p {
        font-size: .875rem;
        color: var(--grey);
    }

    .album {
        width: calc(100% / 6);
        margin: 0 .625rem;
        color: var(--white);
    }

    .album img {
        max-width: 100%;
        min-width: 6.25rem;
        flex-grow: 1;
        object-fit: cover;
    }

    .round_img {
        border-radius: 50%;
    }



    /* Album Row Section End */

/* 
    FOOTER
*/

/* General Footer Rules */

footer {
    display: flex;
    height: 4.375rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background-color: var(--dark_grey);
}

footer h4 {
    text-transform: none;
}

.left,
.right {
    width: 20%;
}

/* Left Footer Section Start */

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left .far {
    margin: 0 .625rem;
}

.song_info_container {
    margin-right: 1.5625rem;
}

.song_info_container h4,
.song_info_container a {
    padding-left: .625rem;
}

.left img {
    width: 3.125rem;
    vertical-align: middle;
    margin-left: .625rem;
}

.left .song_info_container a {
    font-size: .75rem;
}

.left a:hover {
    text-decoration: underline;
}

/* Left Footer Section End */

/* Center Footer Section Start */

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    color: var(--white);
}

.center i {
    margin: 0 .3125rem;
    font-size: .75rem;
    vertical-align: middle;
}

.center a {
    color: var(--white);
}

.center .far {
    margin: 0 .3125rem;
    font-size: 1.25rem;
}

.center .fa-play-circle:hover {
    font-size: 1.875rem;
}

input[type="range"]:first-of-type {
    width: 50%;
    margin: 0 .625rem;
    vertical-align: middle;
}

.center span {
    font-size: .625rem;
}

/* Center Footer Section End */

/* Right Footer Section Start */

.right {
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 4.375rem;
}

.right i {
    margin: 0 .3125rem;
    color: var(--grey);
}

#volume {
    width: 60%;
    vertical-align: middle;
}

/* Right Footer Section End */

/* 
    MEDIA QUERYS
*/

 
/* Laptop */

@media screen and (max-width: 1100px) {

    /* Navbar Section Start  */

    .navbar {
        flex-wrap: wrap;
    }

    /* Navbar Section End */

    /* Album Row Section Start */

    .album_row {
        flex-wrap: wrap;
        justify-content: start;
    }

    .album {
        width: calc(25% - 1.25rem);
        margin: 0 .9375rem .9375rem 0;
    }

    /* Album Row Section End */

    /* Left Footer Section Start */

    .song_info_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Left Footer Section End */
    
}

/* Tablet */

@media screen and (max-width: 700px) {

    /* Album Row Section Start */

    .album{
        width: calc(50% - 15px);
        margin: 0 5px 15px 5px;
    }

    /* Album Row Section End */

    /* Left Footer Section Start */

    .left img {
        margin: .3125rem
    }

    .song_info_container h4,
    .song_info_container a {
        font-size: .625rem;
    }

    /* Left Footer Section End */

    /* Right Footer Section Start */

    .right{
        font-size: 12px;
    }

    /* Right Footer Section End */

}
   
/* Smartphone */

@media screen and (max-width: 600px) {

    /* Sidebar Section Start */

    .sidebar {
        width: 3.125rem;
    }

    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: block;
    }

    .menu div:first-child {
        margin-top: .625rem;
        margin-bottom: .625rem;
      }
      
      .menu div:nth-child(2) {
        margin-bottom: .625rem;
      }

    .playlist,
    .sidebar span,
    .scrollbar_container ul li {
        display: none;
    }

    .sidebar .profile_container i {
        margin: .625rem 25%;
    }

    .sidebar img {
        height: 1.25rem;
    }

    .profile_container span[style="color: var(--white);"] {
        display: none;
    }

    /* Sidebar Section End */

    .main_page {
        width: calc(100% - 50px);
    }

    .main_page_button {
        width: calc(100% - 50px);
    }


    /* General Footer Rules */

    .left,
    .right {
        width: 30%;
    }

    /* Left Footer Section Start */

    .song_info_container {
        margin-right: 0;
    }

    .song_info_container img {
        width: 2.1875rem;
        margin: auto .3125rem;
    }

    .left .icons .far:first-child {
        margin-bottom: .3125rem;
    }

    /* Left Footer Section End */

}